{% extends "base.twig" %}

{% block content %}
<main class="container">

    <div class="row">
        {% for author in authors %}
        <div class="col-4">
            <article>
                <h3>
                    {{author.display_name}}
                </h3>
                <div>
                    <a href="{{author.user_url}}">{{author.user_url}}</a>
                </div>
                <div>
                    {{author.description}}
                </div>
            </article>
        </div>
        {% endfor %}
    </div>
</main>
{% endblock %}
